<ion-header>
  <ion-navbar>
    <ion-title>Tareas</ion-title>
    <ion-buttons end>
     <button ion-button icon-only (click)="settings()">
      <ion-icon name="settings"></ion-icon>
     </button>     
    </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content>
  <ion-card *ngFor="let task of tasks" (click)="showTask(task.id)">
    <ion-card-header>
      {{task.title}}
    </ion-card-header>
    <ion-card-content>
      {{task.description}}
    </ion-card-content>
  </ion-card>
  <img class="img_no_tasks" src="assets/imgs/no_tasks.png" *ngIf="tasks?.length == 0" alt="">
  <h2 class="center-text" *ngIf="tasks?.length == 0">No hay tareas</h2>
  <ion-fab bottom right>
    <button ion-fab mini (click)="presentModal()">
      <ion-icon name="add"></ion-icon>
    </button>
  </ion-fab>
</ion-content>
