page-task {
	.back-button-md,
	.back-button-ios {
	color: #a09f9f;
	}
	.bar-button-default-ios, .bar-button-default.bar-button-ios-default, .bar-button-clear-ios-default{
        color: #fff !important;
        font-size: 1em;
    }
	ion-chip{
		margin-right: 10px !important;
	}
}
